body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 7%);
    padding-top: 100px;
}

h1 {
    color: hwb(0 73% 3%);
}

p {
    font-size: 18px;
    color: #dcddde;
}

button {
    background-color: #eb2525;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
}